{% extends 'base.html' %}

{% block content%}
    <div class="container">
        <div class="row">
            <h3>Found {{ sources | count }}</h3>
            <ul>
                {% for top_new in sources %}
                <li>
                    <a href='{{ top_new.url }}'>
                        {{ top_new.name}}
                    </a>
                </li>
               
                <!-- <div class="col-md-6"> -->
                <li>{{ top_new.description }}</li>
                    
                {% endfor %} 
            </ul>
        </div>
    </div>
{% endblock %}